<ion-content [fullscreen]="true">
  <video class="backgroundPlayer" id="MainVideo" height="99.45%" width="100%" autoplay (click)="ToggleControls()">
      <source src="http://techslides.com/demos/sample-videos/small.mp4" type="video/mp4">
      <source src="http://techslides.com/demos/sample-videos/small.ogv" type="video/ogg">
      Your browser does not support HTML5 video.
  </video>
        <ion-grid class="playerOverlay">
            <!-- 8 rows, 5 columns each-->
            <ion-row>
                <ion-col>
                    <ion-back-button></ion-back-button>
                </ion-col>
                <ion-col>

                </ion-col>
                <ion-col>

                </ion-col>
                <ion-col>

                </ion-col>
                <ion-col>

                </ion-col>

            </ion-row>
            <ion-row>
                <ion-col>

                </ion-col>
                <ion-col>
                    Will i am goes here
                </ion-col>
                <ion-col size="6">
                    About track goes here
                </ion-col>
                <ion-col>

                </ion-col>
                <ion-col>

                </ion-col>

            </ion-row>
            <ion-row>
                <ion-col>

                </ion-col>
                <ion-col>
                    back10s
                </ion-col>
                <ion-col>
                    playpause
                </ion-col>
                <ion-col>
                    forward10s
                </ion-col>
                <ion-col>
                    menu
                </ion-col>

            </ion-row>
            <ion-row>
                <ion-col>

                </ion-col>
                <ion-col>

                </ion-col>
                <ion-col>

                </ion-col>
                <ion-col>

                </ion-col>
                <ion-col>
                    like
                </ion-col>

            </ion-row>
            <ion-row>
                <ion-col>

                </ion-col>
                <ion-col>

                </ion-col>
                <ion-col>

                </ion-col>
                <ion-col>

                </ion-col>
                <ion-col>
                    messege
                </ion-col>

            </ion-row>
            <ion-row>
                <ion-col>

                </ion-col>
                <ion-col>

                </ion-col>
                <ion-col>

                </ion-col>
                <ion-col>

                </ion-col>
                <ion-col>
                    share
                </ion-col>

            </ion-row>
            <ion-row>
                <ion-col>

                </ion-col>
                <ion-col>

                </ion-col>
                <ion-col>

                </ion-col>
                <ion-col>

                </ion-col>
                <ion-col>
                    add to playlist
                </ion-col>

            </ion-row>
            <ion-row>
                <ion-col>
                    partners
                </ion-col>
                <ion-col>
                    shop
                </ion-col>
                <ion-col>
                    iDATATi
                </ion-col>
                <ion-col>
                    cart
                </ion-col>
                <ion-col>
                    profile
                </ion-col>

            </ion-row>


        </ion-grid>

</ion-content>
